<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

<div class="row">
    <div>
      <div class="card mb-5 mb-lg-0">
        <div class="card-body">
          <h5 class="card-title text-muted text-uppercase text-center">{{planObj?.plan}}</h5>
          <h6 class="card-price text-center">{{planObj?.price}}<span class="period">/month</span></h6>
          <hr>
          <ul class="fa-ul">
            <!-- <span class="fa-li"><i class="fas fa-check"></i></span> -->
            <li *ngFor="let item of planObj?.features">
              <!-- <span class="fa-li"><fa-icon *ngIf="item.isEnable" [icon]="faCheck"></fa-icon></span> -->
              <!-- <div *ngIf="item.isEnable">{{item.name}}</div>
              <div  class="text-muted" *ngIf="!item.isEnable">{{item.name}}</div> -->
              <div [ngClass]="{'text-muted':!item.isEnable,'bi bi-check':item.isEnable,'fw-bold':item.isTrue}">
                <div class="fa fa-solid fa-check"></div>{{item.name}}
              </div>
              <!-- <i class="fa fa-solid fa-check"></i> -->
              <!-- <div [ngClass]="{'bi bi-check':item.isEnable}">{{item.name}}</div> -->
              <!-- <div class="fa fa-solid fa-check" [ngStyle]="{'font-weight': item.isTrue ? 'bold' : ''}">{{item.name}}</div> -->
              <!-- <div [ngClass]="item.isEnable ? 'bold' : ''">{{item.name}}</div> -->
  
            </li>
          </ul>
          <div class="d-grid">
            <a href="#" class="btn btn-primary text-uppercase">Button</a>
          </div>
        </div>
      </div>
    </div>
  </div>